.game-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.word-input
{
    width: clamp(100px, 95%, 600px);
    height: clamp(30px, 50%, 80px);
    font-size: 50px;
    padding-left: 15px;
    border-radius: 10px;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #ccc;
    color: rgb(100, 99, 99);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}


@keyframes shake
{
    0% {transform:translateX(8px)}
    50% {transform:translateX(-8px)}
    100% {transform:translateX(8px)}
}

.shake {
    animation: shake 0.15s;
}

.countdown-bar
{
    position: relative;
    width: clamp(130px, 98%, 610px);
    border-radius: 2px;
    height: clamp(2px, 50%, 5px);
    background-color: gray;
    color: green;
}
.countdown-bar::before
{
    content: '';
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgb(156, 255, 7);
    height: 100%;
    width: calc(var(--width, 100) * 1%);
    border-radius: 2px;
    max-width: 100%;
}
.letter-seq
{
    margin-bottom: 20px;
    font-size: clamp(60px, 15vw, 90px);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: rgb(63, 63, 63);
    text-transform: uppercase;
}

.play-but
{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    background-color: rgb(147, 236, 135);
    color: white;
    font-size: 28px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    border: 0px;
}

.play-but:hover, .play-but:focus, .play-but:active
{
    box-shadow: 0, 0, 20px, rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.play-but:disabled {
    background-color: gray; 
    cursor: not-allowed;
    box-shadow: none; 
    transform: none; 
}

.message
{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: rgb(63, 63, 63);
    text-transform: uppercase; 
}

.score
{
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    color: rgb(63, 63, 63);
    text-transform: uppercase; 
}